
<ng-container *ngIf="orderItems$ |async as orderItems">
    <ng-container *ngIf="orderItems.length">
      <mat-card class="w-100 my-1 d-flex " >
            <p >Order Details</p>
            <div>
                <mat-card-content class="d-flex" *ngFor="let item of orderItems">
                    {{item.name}}
                    {{item.price}}$ * {{item.quantity}}                        
                <button (click)="removeItem(item)" class="cart-btn" mat-icon-button color="primary">
                    <mat-icon color="primary">delete</mat-icon>
                </button>
                </mat-card-content>
            </div>
            <span>Total Price: {{totalPrice$|async}} $</span>
      </mat-card>

    </ng-container>
    <ng-container *ngIf="!orderItems.length"><p>Your Cart Is Empty</p></ng-container> 
</ng-container>